<div class="container main-container">
  <h1>Demos <small>angular</small></h1>

  <hr>

  <h4> Start: App-NgStyle</h4>
  <hr>
  <app-ng-style></app-ng-style>
  <hr>

  <br>
  <br>
  <h4> Start: App-Css</h4>
  <hr>
  <app-css></app-css>
  <p>Hola mundo desde app.component</p>
  <hr>
  <br>
  <br>

  <h4> Start: Clases</h4>
  <hr>
  <app-clases></app-clases>
  <hr>
  <br>
  <br>

  <h4> Start: Directivas personalizadas</h4>
  <hr>
  <p [appResaltado]="'orange'" >
    Hola Mundo
  </p>
  <hr>
  <br>
  <br>

  <h4> Start: ngSwitch</h4>
  <hr>
  <app-ng-switch></app-ng-switch>
  <hr>
  <br>
  <br>



  

</div>