<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/" style="color:white"></ion-back-button>
    </ion-buttons>

    <ion-title>Agregar Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating"> Nuevo Item </ion-label>
      <ion-input  type="text" 
                  [(ngModel)]="nombreItem"
                  (keyup.enter)="agregarItem()"></ion-input>
    </ion-item>
    
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label > Tareas por hacer </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let item of lista.items">
        <ion-label > {{ item.desc }}</ion-label>
      <ion-checkbox color="primary" 
                    slot="start"
                    [(ngModel)]="item.completado"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>