<div [ngClass]="alerta" class="alert" role="alert">
  A simple primary alert—check it out!
</div>

<button style="margin:2px" type="button" class="btn btn-info" (click)="alerta = 'alert-info'"> Cambiar Info</button>

<button style="margin:2px" type="button" class="btn btn-info" (click)="alerta = 'alert-danger'"> Cambiar Danger</button>


<h3 [ngClass]="{'text-danger': propiedad.danger, 'text-info':!propiedad.danger}">
  Hola Mundo
</h3>

<button class="btn" [ngClass]="{'btn-danger': !propiedad.danger, 'btn-info':propiedad.danger}"
  (click)="propiedad.danger = !propiedad.danger">
  Cambiar
</button>


<h3>Proceso Asíncrono</h3>

<button (click) = "ejecutar()"
  class="btn btn-primary" type="button" name="button" [disabled]="loading">
  <i [ngClass]="{'fa-save': !loading,'fa-refresh fa-spin':loading }" class="fa"></i>
  <span *ngIf="!loading"> Guardar cambios</span>
  <span *ngIf="loading"> Espere por favor</span>
</button>